.rosy-tooltip {
    position: absolute;
    background: #404040;
    color:#fff;
    margin-top: -60px;
    padding:8px;
    border-radius: 2px;
    transition-delay: .5s;
    transition-duration: .6s
}
